<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/node_modules/angular-material/angular-material.css" rel="stylesheet"/>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script>
        // set our baseURL reference path
        System.config({
            baseURL: '/typescript',
            map: {
                "HTML5Tokenizer": "/Scripts/simple-html-tokenizer.js"
            }
        });
        System.defaultJSExtensions = true;
    </script>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/angular-animate/angular-animate.js"></script>
    <script src="~/node_modules/angular-aria/angular-aria.js"></script>
    <script src="~/node_modules/angular-material/angular-material.js"></script>
    <script>
        System.import('boot');
    </script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
